<h1></h1>
<br><br>

<form action="/results" method="post">
  <div class="form-group">
  <label for="name">City Name </label>
  <input id="name" class="form-control" name="name" type="text">
  <br>
  <button type="submit"> Submit</button>
</div>
</form>
